<%- include('partials/head.ejs') %>
 <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <div style="height: 88vh; width: 90vw; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h1 class="main-title">Page Not Found</h1>
        <h2>Error 404</h2>
    </div>
</body>
</html>