<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <h1 class="main-title">Add new User</h1>
    <form class="main-form" action="/submit" method="post">
        <h1 class="form-title">Add New User</h1>
        <div class="form-content">
            <label for="firstN">First Name:</label> <br>
            <input type="text" id="firstN" name="firstname" placeholder="John">
            <br>
            <label for="lastN">Last Name:</label> <br>
            <input type="text" id="lastN" name="lastname" placeholder="Doe">
            <br>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>