<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid 
            facere odit laboriosam voluptates, tempora maxime qui id autem? 
            Earum ipsam dolorum culpa dolorem velit quo porro ipsum assumenda!
             Adipisci architecto, quos consequatur sequi distinctio quae, harum, 
             alias eaque quidem et perferendis accusamus! Soluta ducimus 
             perspiciatis rerum fuga, iste tenetur ex.</p>
    </main>
</body>
</html>