<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <main>
        <section class="todo-container">
            <h1 class="main-title">MAIN TODOS</h1>
            <section class="todos">
                    <div class="todo-item">
                        <h2 class="title">Title</h2>
                        <p class="desc">
                            adf adsf adsf asdf asdf asdf 
                        </p>
                    </div>
                    <div class="todo-item">
                        <h2 class="title">Title</h2>
                        <p class="desc">
                            adf adsf adsf asdf asdf asdf 
                        </p>
                    </div>
                    <div class="todo-item">
                        <h2 class="title">Title</h2>
                        <p class="desc">
                            adf adsf adsf asdf asdf asdf 
                        </p>
                    </div>
                    <div class="todo-item">
                        <h2 class="title">Title</h2>
                        <p class="desc">
                            adf adsf adsf asdf asdf asdf 
                        </p>
                    </div>
            </section>
        </section>
    </main>
</body>
</html>