<%- include('../partials-ejs/head.ejs') %>
    </head>
    <body>
        <%- include('../partials-ejs/navbar.ejs') %>
        <main>
            <h1>Orders</h1>>
        </main>
        <script src="/js/main.js"></script>

    </body>
</html>