.todo-container{
    height: 80vh;
    width: 80vw;
    background-color: blue;
    color: #fff;
    margin: 1rem auto;
    padding: 1rem 2rem 2rem;
    border-radius: 1rem;
    z-index: -1;
}



.todos{
    height: 90%;
    display: flex;
    gap: 1rem;
    width: 88%;
    margin: auto;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.todos,
.todo-desc{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.todos::-webkit-scrollbar,
.todo-desc::-webkit-scrollbar{ 
    display: none;  /* Safari and Chrome */
}

.todo-item{
    /* background-color: #00000061; */
    aspect-ratio: 1/1;
    height: 20rem;
    padding: .5rem;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    border: 2px solid #fff;
    
}

.todo-item::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    border: 1px solid black;
    z-index: -1;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: rgb(65, 119, 255);
    border-radius: .5rem .5rem 0 0;
    height: 3rem;
}

.todo-done{
    height: 2rem;
    width: 3.5rem;
    font-size: 1.6rem;
    color: red;
    margin: auto 0;
}

.todo-title{
    font-size: 1.6rem;
    letter-spacing: .75px;
}


.todo-desc{
    height: calc(100% - 3.5rem);
    padding-top: .5rem;
    margin-top: .5rem;
    overflow-y: auto; 
}

.done{
    opacity: .5;
}

.done p{
    text-decoration: line-through;
}

@media screen and (max-width: 545px) {
    .todo-container{
        padding: 2rem .5rem;
    }
    .todo-item{
        height: 15rem;
    }
}